.header{
          font-family: fantasy;
          text-align: center;
          background: #7895B2;
          color:white;
          font-size:30px;
          width:full;
        }
        
        .topnav {
          background-color: #AEBDCA;
          overflow: hidden;
          padding:0px;
        }
        .topnav a {
         float: left;
         color: #F2F2F2;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
         font-family: sans-serif;
        }
        .topnav a:hover {
          font-family: sans-serif;
          background-color: #F2F2F2;
          color: black;
        }
        .topnav a.active {
           font-family: sans-serif;
           background-color: #967E76;
           color: white;
        }
        p{
          color: black;
        }   
        body{
          background-color:#F5EFE6;
        }
